*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;

  &.no-scroll {
    overflow: hidden;
  }
}

::selection {
  background-color: $color-primary-cyan;
  color: #fff;
}

.main {
  padding: 0 $padding-side-desktop 12rem;
  background-color: $color-grey-light;

  @include respond(mobile) {
    padding: 0 $padding-side-mobile 8rem;
  }
}