.btn {
  background-color: $color-primary-cyan;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  transition: background-color 0.5s;

  //for the <button> element
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border: none;

  &:hover {
    background-color: #9ae3e3;
  }

  &--round {
    border-radius: 100px;
  }

  &--square {
    border-radius: 10px;
  }

  &--sm {
    padding: 0.9rem 2.4rem;
    font-size: 1.5rem;
  }

  &--md {
    padding: 0.9rem 3.1rem;
    font-size: 1.5rem;
  }

  &--lg {
    padding: 1.4rem 4rem;
    font-size: 2rem;
  }

  &--hg {
    padding: 1.8rem 4rem;
    font-size: 2rem;
  }

  &__text--copied {
    display: none;
  }

  &.copied {
    background-color: $color-primary-violet !important;
  }

  &--md.copied {
    padding: 0.9rem 2.1rem;
  }

  &.copied &__text--copy {
    display: none;
  }

  &.copied &__text--copied {
    display: inline-block;
    animation: slideFromLeft 0.3s;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
