.intro {
  padding: 4.8rem 0 12rem;

  @include respond(tablet) {
    padding: 4rem 0 16.8rem;
  }

  &__container {
    margin-top: 7.8rem;
    padding-left: $padding-side-desktop;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__content {
    width: 40vw;
  }

  &__text {
    margin: 0.5rem 0 3.8rem;
  }

  &__img {
    width: 49vw;
    transform: translateX(15%);
  }
}
