.shorten {
  background-color: $color-primary-violet;
  border-radius: 10px;
  position: relative;

  &__bg {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  &__form {
    position: absolute;
    left: 6.4rem;
    right: 6.4rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;

    &.error::after {
      content: "Please add a link";
      position: absolute;
      left: 0;
      top: calc(100% + 0.8rem);
      font-size: 1.6rem;
      font-style: italic;
      color: $color-secondary-red
    }
  }

  &__input {
    flex: 1;
    margin-right: 2.4rem;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
    padding: 1.4rem 3.2rem;
    transition: all 0.5s;

    &::placeholder {
      color: currentColor;
      opacity: 0.5;
    }
  }

  &__form.error &__input {
    border-color: $color-secondary-red;
    color: $color-secondary-red;
  }
}
