.shorten {
  &__box {
    background-color: $color-primary-violet;
    border-radius: 10px;
    position: relative;

    @include respond(tablet-land) {
      overflow: hidden;
      padding: $padding-side-mobile;
    }
  }

  &__bg {
    width: 100%;
    display: block;
    border-radius: 10px;

    &--mobile {
      display: none;
    }

    @include respond(tablet-land) {
      position: absolute;
      top: 0;
      right: 0;
      width: 75%;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }

  &__form {
    position: absolute;
    left: 6.4rem;
    right: 6.4rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;

    @include respond(tablet-land) {
      position: relative;
      left: initial;
      right: initial;
      top: initial;
      transform: none;
      width: 100%;
      flex-direction: column;
      z-index: 1;
    }
  }

  &__input-container {
    flex: 1;
    margin-right: 2.4rem;
    position: relative;

    @include respond(tablet-land) {
      margin-right: 0;
      margin-bottom: 1.6rem;
      height: 4.8rem;
    }
  }

  &__form.error &__input-container {
    @include respond(tablet-land) {
      margin-bottom: 3.8rem;
    }

    &::after {
      content: "Please add a link";
      position: absolute;
      left: 0;
      top: calc(100% + 0.8rem);
      font-size: 1.6rem;
      font-style: italic;
      color: $color-secondary-red;

      @include respond(tablet-land) {
        top: calc(100% + 0.4rem);
        font-size: 1.2rem;
        letter-spacing: 0.08px;
        line-height: 1.5;
      }
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 0.15px;
    line-height: 1.8;
    color: inherit;
    padding: 1.4rem 3.2rem;
    transition: all 0.5s;

    &::placeholder {
      color: currentColor;
      opacity: 0.5;
    }

    @include respond(tablet-land) {
      border-radius: 5px;
      font-size: 1.6rem;
      letter-spacing: 0.12px;
      line-height: 2.25;
      padding: 0.6rem 1.6rem;
    }
  }

  &__form.error &__input {
    border-color: $color-secondary-red;
    color: $color-secondary-red;
  }

  &__btn {
    @include respond(tablet-land) {
      border-radius: 5px;
      font-size: 1.8rem;
      padding: 1.2rem 0;
    }
  }

  &__results {
    margin-top: 2.4rem;
  }
}
